In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.



#ANSWER:--  #A database is an organized collection of data that is stored and managed in a structured manner. It provides a way to store, retrieve, update, and manage data efficiently. Databases can be broadly classified into two categories: SQL and NoSQL.

            #SQL (Structured Query Language) databases are based on a relational model and use structured schemas to define the data. They store data in tables with predefined columns and rows, and relationships between tables are established using keys. SQL databases ensure data integrity, support ACID (Atomicity, Consistency, Isolation, Durability) properties, and provide a standardized query language (SQL) for accessing and manipulating data. Examples of SQL databases include MySQL, PostgreSQL, Oracle, and SQL Server.

            #NoSQL (Not Only SQL) databases, on the other hand, offer a flexible data model and do not rely on structured schemas. They can store unstructured, semi-structured, or structured data. NoSQL databases are designed to handle large amounts of data with high scalability and performance. They are often used for handling dynamic, rapidly changing data and can be horizontally scaled across multiple servers. NoSQL databases come in various forms, including key-value stores, document databases, columnar databases, and graph databases. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

            #The choice between SQL and NoSQL databases depends on the specific requirements of the application, such as the nature of the data, scalability needs, performance requirements, and the level of data consistency required.

In [9]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#ANSWER:-- DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of database objects. It consists of statements for creating, altering, and dropping database schemas, tables, indexes, and other objects.

    #1.  CREATE: The CREATE statement is used to create new database objects. 
    
        #Example:- CREATE TABLE Student ( id INT PRIMARY KEY,name VARCHAR(50), age INT);
   
    #2. DROP: The DROP statement is used to remove existing database objects. 

        #Example:- DROP TABLE Student;

    #3. ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns from a table, change data types, or rename objects.
    
        #Example:- ALTER TABLE Student ADD COLUMN email VARCHAR(100);
        
    #4. TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but it keeps the table structure intact. Unlike the DELETE statement, which deletes rows one by one, TRUNCATE quickly removes all rows from a table.
    
        #Example:- TRUNCATE TABLE Student;

In [10]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#ANSWER:-- DML (Data Manipulation Language) is a subset of SQL used to manipulate and retrieve data within the database.

    #INSERT: The INSERT statement is used to add new records (rows) into a table. It allows you to specify the column names and values for the new row.
        #Example:-  INSERT INTO Student (id, name, age) VALUES (1, 'Jaynedra', 30);
    
    
    #UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns based on specified conditions. 
        #Example:- UPDATE Student SET age = 31 WHERE id = 1;
    
    
    #DELETE: The DELETE statement is used to remove records from a table based on specified conditions. It allows you to selectively delete rows from a table. 
        #Example:- DELETE FROM Student WHERE id = 1;

In [11]:
#Q4. What is DQL? Explain SELECT with an example.

#ANSWER:- DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.
        #SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns to be retrieved, apply filters with conditions, and perform various operations on the data. 
            
        #Example:-  SELECT * FROM Employees;

In [5]:
#Q5. Explain Primary Key and Foreign Key.
#ANSWER:-   #1. Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It ensures the integrity and uniqueness of the data. The primary key constraint prevents duplicate and null values in the key column(s). Typically, a primary key is chosen from existing candidate keys in a table. In relational databases, primary keys are used to establish relationships between tables through foreign keys.

            #2. Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It creates a relationship between two tables, allowing data in one table to reference data in another table. The foreign key constraint ensures referential integrity, meaning that the values in the foreign key column(s) must match values in the referenced primary key column(s) or be null. By using foreign keys, you can establish relationships and enforce data consistency across tables.

In [ ]:
#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test4.test_table(c1 INT , C2 INT , C3 INT , C4 INT , C5 INT)
mydb.close()

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

#ANSWER:-

#1	FROM	         (Tables are joined to get the base data.)
#2	WHERE	         (The base data is filtered.)
#3	GROUP BY         (The filtered base data is grouped.)
#4	HAVING	         (The grouped base data is filtered.)
#5	SELECT	         (The final data is returned.)
#6	ORDER BY	     (The final data is sorted.)
#7	LIMIT          	(The returned data is limited to row count.)