In [5]:
##Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4,8,15,16,23,42]

my = pd.Series(data)

print(my)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [13]:
##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

list = [1,2,3,4,5,6,7,8,9,10]
my_serise = pd.Series(list)

print(my_serise)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [20]:
##Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

data = { 'Name' : ['Alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [31]:
##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.\
##Answer:- In pandas, a DataFrame is a two-dimensional labeled data structure that can hold data of different types (numeric, string, boolean, etc.). It is similar to a table or spreadsheet in which the data is organized in rows and columns. A DataFrame consists of columns, each representing a different variable, and rows, which represent individual observations or records.
    ##On the other hand, a Series is a one-dimensional labeled array that can hold data of any type. It can be seen as a single column of a DataFrame. A Series has an index, which labels each element, allowing for easy and efficient access to the data.

    #Example: DataFrame

import pandas as pd


    #Example: Series
    
import pandas as pd

data = [2,3,45,67,88,6]

my = pd.Series(data)

print(my)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0     2
1     3
2    45
3    67
4    88
5     6
dtype: int64

In [37]:
##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#Answer: Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:
        ## head() tail() info() drop() merge() join() describe() groupby() sort_values() apply()
    
##Example: 
import pandas as pd


data = { 'Name' : ['Alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}

df4 = pd.DataFrame(data)

my_data1 = df4.head(2)

print(my_data1)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [38]:
##Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

##Answer: Series and DataFrame in pandas are mutable in nature, meaning they can be modified after creation. However, Panel is not mutable.

In [42]:
##Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd 

name = ["jayendra", "sudh" , "trivendra", "subham"]
age = [22,44,23,43]
gender = ['M', 'M' , 'M', 'M']


name_series = pd.Series(name)
age_series = pd.Series(age)
gender_series = pd.Series(gender)

df = pd.DataFrame({"NAME" : name_series,
                  "AGE" : age_series,
                  "GENDER" : gender_series})

print(df)

        NAME  AGE GENDER
0   jayendra   22      M
1       sudh   44      M
2  trivendra   23      M
3     subham   43      M