In [8]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

##Q1. List any five functions of the pandas library with execution.

In [9]:

#Answer : 1. read_csv() , 2.head() , 3.info() , 4. describe() , 5.loc()

#1. read_csv()
import pandas as pd

df = pd.read_csv("services.csv")

In [10]:
#2. head()

df.head(4)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN

In [11]:
#3.Info()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              21 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

In [12]:
#4. describe()

df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [13]:

#5.loc()

df.loc[0:2 ,['program_id',	'fees',	'languages']]

   program_id                                               fees languages
0         NaN  $2.50 suggested donation for lunch for age 60 ...       NaN
1         NaN  None. Donations requested of clients who can a...       NaN
2         NaN                                              None.       NaN

In [14]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [15]:
import pandas as pd

df = pd.read_csv("services.csv")

df[['location_id','eligibility','audience']][1::2]

,location_id,eligibility,audience
1,2,"Age 55 or over, county resident and willing an...",Residents of San Mateo County age 55 or over
3,4,None,"Parents, children, families with problems of c..."
5,6,None,Any age
7,8,Homebound person unable to cook or shop,"Senior citizens age 60 or over, disabled indiv..."
9,10,Resident of California to obtain a card,NaN
11,12,English-speaking adult reading at or below 7th...,"Adults, parents, children in 1st-12th grades i..."
13,14,None for most services. For emergency assistan...,Individuals or families with low or no income ...
15,16,None for emergency assistance,NaN
17,18,Low-income person without access to health care,NaN
19,20,NaN,NaN
21,22,None,"Profit and nonprofit businesses, the public, m..."

#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

#For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [16]:
import pandas as pd

def calculate_sum(df):
    values = df['Values'].head(3) 
    total_sum = sum(values)  
    print("Sum of the first three values:", total_sum)

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
calculate_sum(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [17]:
import pandas as pd

def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage
data = {'Text': ['This is jayendra', 'jayendra, how are you?', 'Python programming is great']}
df = pd.DataFrame(data)

df = count_words(df)
print(df)

                          Text  Word_Count
0             This is jayendra           3
1       jayendra, how are you?           4
2  Python programming is great           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [18]:
'''The DataFrame.size() and DataFrame.shape() methods in pandas provide different information about the DataFrame:

DataFrame.size(): This method returns the total number of elements in the DataFrame. It calculates the size by multiplying the number of rows (DataFrame.shape[0]) by the number of columns (DataFrame.shape[1]).'''


import pandas as pd

data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.size)

6

In [19]:
"""DataFrame.shape(): This method returns a tuple representing the dimensions of the DataFrame. It provides the number of rows and columns in the DataFrame.
Example:"""

import pandas as pd

data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.shape)

(3, 2)

Q6. Which function of pandas do we use to read an excel file?

In [21]:
## To read an Excel file in pandas, you can use the pandas.read_excel() function. This function allows you to read data from an Excel file and create a DataFrame object.

import pandas as pd

# Read an Excel file
df = pd.read_excel('data.xlsx')

# Print the DataFrame
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [22]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage
data = {'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob.jones@example.com']}
df = pd.DataFrame(data)

df = extract_username(df)
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2    bob.jones@example.com    bob.jones

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [26]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [28]:
import pandas as pd

def calculate_stats(df):
    mean_value = df['Values'].mean()  # Calculate the mean
    median_value = df['Values'].median()  # Calculate the median
    std_value = df['Values'].std()  # Calculate the standard deviation

    return mean_value, median_value, std_value

# Example usage
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

mean, median, std = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [29]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage
data = {'Date': pd.date_range(start='2022-01-01', periods=10),
        'Sales': [10, 20, 15, 30, 25, 35, 40, 50, 45, 55]}
df = pd.DataFrame(data)

df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2022-01-01     10      10.000000
1 2022-01-02     20      15.000000
2 2022-01-03     15      15.000000
3 2022-01-04     30      18.750000
4 2022-01-05     25      20.000000
5 2022-01-06     35      22.500000
6 2022-01-07     40      25.000000
7 2022-01-08     50      30.714286
8 2022-01-09     45      34.285714
9 2022-01-10     55      40.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [30]:
import pandas as pd

def add_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

# Example usage
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [31]:
import pandas as pd

def select_rows_in_date_range(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

# Example usage
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-10')}
df = pd.DataFrame(data)

start_date = '2023-01-01'
end_date = '2023-01-31'

selected_df = select_rows_in_date_range(df, start_date, end_date)
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [33]:
import pandas as pd

##To use the basic functions of pandas, the first and foremost library that needs to be imported is pandas itself.